<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all blog posts page!</title>
    <style>
        .post {
            border: 1px solid #dddddd;
            border-radius: 10px;
            padding: 20px;
            width: 400px; 
            height: 400px; 
        }
    </style>>
  </head>
  <body>
    <main>
        <a href = "/new">Click here to make a new blog post!</a><br>
        <a href = "/home">Click here to return home!</a><br>
        <h2>Showing all blog posts:
            <% posts.forEach((post, index) => { %>
                <div class="post">
                    <p class ="title">Title: <%= post.title %></p>
                    <p class="author">By: <%= post.firstname %> <%= post.lastname %></p>
                    <p class="createdAt">Created at: <%= post.createdAt %></p>
                    <p class="content">Content: <%= post.content %></p>
                    <a href="/edit/<%= index %>">Click here to edit!</a><br>
                    <a href="/delete/<%= index %>">Click here to delete!</a>
                </div>
            <% }) %>
    </main>
    <script src="app.js"></script>
  </body>
</html>